// .content-wrapper {
//     background-color: rgb(246, 247, 249);
// }
.Home {
  .CarInfo {
    color: #021340;
    margin-top: 1px;
    margin-left: 17rem;
    width: 100%;
    border-top-left-radius: 10px;
    padding: 15px;
    .c {
      .content-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        // height: 80%;
        .car {
          margin: 10px;
          background-color: #fff;
          border: 2px solid rgb(234, 234, 234);
          border-radius: 0.5rem;
          padding: 30px;
          box-shadow: rgba(0, 0, 0, 0.05) 0rem 20px 27px 0rem;
          .img {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-bottom: 20px;
            img {
              width: 100%;
              // height: 70%;
            }
          }
          .year {
            font-size: 12pt;
            color: rgb(165, 165, 165);
            margin-bottom: 5px;
          }
          .name {
            font-weight: bolder;
            // font-size: 0.9rem;
          }
          .basic-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            font-size: medium;
          }
        }
        .obdwrap {
          display: flex;
          flex-direction: column;
          align-content: stretch;
          .car.obddata {
            height: 90%;
            .obd {
              margin-top: 8px;
              display: flex;
              flex-direction: column;
              font-size: medium;
              font-weight: bold;
              .box {
                transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3);
                margin: 7px;
                border: 2px solid rgb(234, 234, 234);
                border-radius: 0.5rem;
                padding: 10px;
                .title {
                  font-size: small;
                  font-weight: 800;
                }
              }
              .box:hover {
                transform: scale(103%);
                // border-color: aqua;
              }
              // .box.good{
              //   border-color: rgb(0, 200, 0);
              // }
              .box.bad {
                border-color: rgb(255, 0, 0);
              }
              .a {
                // background-color: blue;
                display: flex;
                flex-direction: row;
                .a-a {
                  display: flex;
                  flex-direction: column;
                  width: 60%;
                  .a-a-a {
                    height: 70px;
                  }
                  .a-a-b {
                    height: 70px;
                  }
                }
                .a-b {
                  // background-color: blue;
                  width: 50%;
                }
              }
              .b {
                height: 70px;
              }
            }
          }
          .modal-button {
            transition: all 0.2s cubic-bezier(0, 0, 0, 1);
            color: #fff;
            font-weight: bold;
            margin: 10px;
            margin-top: 0px;
            border: 2px solid rgb(234, 234, 234);
            border-radius: 0.5rem;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(
              135deg,
              rgb(33, 82, 255),
              rgb(35, 115, 255)
            );
            cursor: pointer;
          }
          .modal-button:hover {
            transform: scale(102%);
          }
          .modal-button:active {
            transform: scale(100%);
            background-image: linear-gradient(
              135deg,
              rgb(26, 66, 211),
              rgb(29, 93, 204)
            );
          }
        }
        .car.logwrap {
          .table {
            table-layout: fixed;
            width: 100%;
            table {
              margin-top: 20px;
              width: 100%;
              border-collapse: collapse;
              th,
              td {
                text-align: left;
              }

              thead {
                color: gray;
                font-size: 13px;
                border-bottom: 0.5px solid rgba(128, 128, 128, 0.445);
              }

              th:nth-child(1) {
                width: 35%;
              }

              thead th:nth-child(2) {
                width: 25%;
              }

              thead th:nth-child(3) {
                width: 20%;
              }
              thead th:nth-child(4) {
                width: 20%;
              }

              tbody {
                tr {
                  transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3);
                }
                tr:hover {
                  background-color: rgba(33, 81, 255, 0.13);
                  transform: scale(102%);
                }
                .category {
                  padding: 10px;
                  font-size: 20px;
                }
                .date,
                .company {
                  font-size: 13px;
                }
                .estimate {
                  font-size: 16px;
                  font-weight: bolder;
                }
              }
            }
          }
        }
      }
    }
  }
}
