@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.wrap {
  .title {
    font-size: larger;
    font-weight: bolder;
    margin: 10px;
  }
  .context {
    display: flex;
    flex-direction: column;
    height: 400px;
    // align-items: center;
    justify-content: center;
    .to{
      margin: 3px;
      .highlight{
        color: rgb(0, 23, 124);
        font-weight: 800;
        font-size: x-large;
      }
    }
    .from {
      margin: 3px;
      .highlight{
        color: rgb(0, 23, 124);
        font-weight: 800;
        font-size: x-large;
      }
    }
    .what {
      margin: 3px;
      .highlight{
        color: rgb(0, 23, 124);
        font-weight: 800;
        font-size: x-large;
      }
    }
  }
  .context.complete{
    align-items: center;
  }
  .submit {
    color: white;
    font-family: NanumSquare,sans-serif;
    font-size: large;
    font-weight: bold;
    height: 38px;
    width: 100%;
    background-image: linear-gradient(
      135deg,
      rgb(33, 82, 255),
      rgb(35, 115, 255)
    );

    border-radius: 0.5rem;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1);
    border: 2px solid rgb(234, 234, 234);
  }
  .submit:hover {
    transform: scale(102%);
  }
  .submit:active {
    transform: scale(100%);
    background-image: linear-gradient(
      135deg,
      rgb(26, 66, 211),
      rgb(29, 93, 204)
    );
  }
}
