@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.wrap {
  display: flex;
  flex-direction: column;
  .header{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name{
      font-size: 17px;
      font-weight: 900;
    }
    .date {
      margin: 20px;
      font-size: 11px;
    }
  }
  .chat {
    width: 70%;
    .text {
      font-size: 15px;
      border: 1px solid rgba(128, 128, 128, 0.247);
      padding: 5px;
      padding-left: 9px;
      padding-right: 9px;
      font-weight: 500;
      background-color: #fff;
      border-radius: 0.8rem;
    }
  }
}
